@model IEnumerable<BusinessLogic.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Available Products</h1>
<br />

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle"></i> Add new product to the database</a>
</p>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            @*<th>
                <label asp-for="First().Id"></label>
            </th>*@
            <th>
                <label asp-for="First().Name"></label>
            </th>
            <th>
                <label asp-for="First().ProductCategory"></label>
            </th>
            <th>
                <label asp-for="First().UnitOfMeasure"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            @*<td>
                @product.Id
            </td>*@
            <td>
                @product.Name
            </td>
            <td>
                @product.ProductCategory
            </td>
            <td>
                @product.UnitOfMeasure
            </td>
            <td>
                <a class="btn btn-primary" @Html.ActionLink("Edit", "Edit", new { id = product.Id }) ></a> 
                <a class="btn btn-success" @Html.ActionLink("Details", "Details", new { id = product.Id }) ></a> 
                <a class="btn btn-warning" @Html.ActionLink("Delete", "Delete", new { id = product.Id }) ></a> 
            </td>
        </tr>
}
    </tbody>
</table>
